Edgetriggered_&MultiInputs
[{"id":"86749c44.b8b27","type":"inject","z":"81f1f754.74bf88","name":"","topic":"a","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":153.48178100585938,"y":157.4770965576172,"wires":[["562e5a82.aa8d14"]]},{"id":"c7e6a971.a0a428","type":"inject","z":"81f1f754.74bf88","name":"","topic":"a","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":195,"wires":[["562e5a82.aa8d14"]]},{"id":"5f84b917.bf6bc8","type":"inject","z":"81f1f754.74bf88","name":"","topic":"b","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":152,"y":242,"wires":[["562e5a82.aa8d14"]]},{"id":"1f9a4f30.53e3e1","type":"inject","z":"81f1f754.74bf88","name":"","topic":"b","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":146,"y":292,"wires":[["562e5a82.aa8d14"]]},{"id":"40eb9df3.62b9a4","type":"inject","z":"81f1f754.74bf88","name":"","topic":"","payload":"","payloadType":"num","repeat":"3","crontab":"","once":false,"x":160,"y":338,"wires":[["b51f9077.a2cbc"]]},{"id":"b51f9077.a2cbc","type":"file in","z":"81f1f754.74bf88","name":"","filename":"f1.txt","format":"utf8","x":367,"y":311,"wires":[["200bcd83.5ac822"]]},{"id":"562e5a82.aa8d14","type":"function","z":"81f1f754.74bf88","name":"lock","func":"\ncontext.temp = context.temp || 0.0;\ncontext.smoke = context.smoke || false;\n\nif (msg.topic === 'b') {\n  context.smoke = msg.payload;\n} else if (msg.topic === 'a') {\n  context.temp = msg.payload;\n}\n\nif (!context.temp && !context.smoke) {\n  return {topic: 'fireState', payload: '0'}\n}\nelse if (!context.temp && context.smoke) {\n  return {topic: 'fireState', payload: '1'}\n}\nelse if (context.temp && !context.smoke) {\n  return {topic: 'fireState', payload: '2'}\n}\nelse if (context.temp && context.smoke) {\n  return {topic: 'fireState', payload: '3'}\n}\n","outputs":1,"noerr":0,"x":372.0000457763672,"y":238.99997329711914,"wires":[["242e801e.c8688"]]},{"id":"242e801e.c8688","type":"function","z":"81f1f754.74bf88","name":"","func":"// context.global.j = 1;//\nif(context.buf != msg.payload){\n    context.buf = msg.payload;\n    return msg;\n}\nelse{\n}\n","outputs":1,"noerr":0,"x":508,"y":214,"wires":[["300419e4.465ef6"]]},{"id":"200bcd83.5ac822","type":"function","z":"81f1f754.74bf88","name":"","func":"// context.global.j = 1;//\nif(context.buff != msg.payload){\n    context.buff = msg.payload;\n    return msg;\n}\nelse{\n}\n","outputs":1,"noerr":0,"x":538,"y":260,"wires":[["470b52d0.05ed1c"]]},{"id":"470b52d0.05ed1c","type":"debug","z":"81f1f754.74bf88","name":"","active":true,"console":false,"complete":false,"x":699,"y":252,"wires":[]},{"id":"300419e4.465ef6","type":"debug","z":"81f1f754.74bf88","name":"","active":true,"console":false,"complete":false,"x":669,"y":206,"wires":[]},{"id":"8dd8054b.72ded8","type":"function","z":"81f1f754.74bf88","name":"","func":"context.buff = context.buff || 0.0;\n\n","outputs":1,"noerr":0,"x":579,"y":99,"wires":[[]]}]
