Edgetriggered_beta
[{"id":"c7e6a971.a0a428","type":"inject","z":"81f1f754.74bf88","name":"","topic":"a","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":164,"y":188,"wires":[["562e5a82.aa8d14"]]},{"id":"562e5a82.aa8d14","type":"function","z":"81f1f754.74bf88","name":"lock","func":"// //if (context.hasOwnProperty(\"counter\"))\n// //\tcontext.counter += 1;\n// //else\n// //\tcontext.counter = 0;\n// var i = msg;\n// if(i.payload == context.global.j){\n// context.global.counter = 1;\n// } else{\n// context.global.j = i;\n// context.global.counter = 0;\n// }\n// return context.global.j;\n\n// //msg.payload = \"local counter = \" + parseInt(context.counter, 10);\n\n// //return msg;\n// context.temp = context.temp || 0.0;\n// context.smoke = context.smoke || false;\n\n// if (msg.topic === 'b') {\n//   context.smoke = msg.payload;\n// } else if (msg.topic === 'a') {\n//   context.temp = msg.payload;\n// }\n\n// if (context.temp >= 70.0 && context.smoke) {\n//   return {topic: 'fireState', payload: 'FIRE!'}\n// } else {\n//   return null\n// }\ncontext.temp = context.temp || 0.0;\ncontext.smoke = context.smoke || false;\n\nif (msg.topic === 'b') {\n  context.smoke = msg.payload;\n} else if (msg.topic === 'a') {\n  context.temp = msg.payload;\n}\n\nif (!context.temp && !context.smoke) {\n  return {topic: 'fireState', payload: '0'}\n}\nelse if (!context.temp && context.smoke) {\n  return {topic: 'fireState', payload: '1'}\n}\nelse if (context.temp && !context.smoke) {\n  return {topic: 'fireState', payload: '2'}\n}\nelse if (context.temp && context.smoke) {\n  return {topic: 'fireState', payload: '3'}\n}\n","outputs":1,"noerr":0,"x":386.0000457763672,"y":231.99997329711914,"wires":[["470b52d0.05ed1c"]]},{"id":"470b52d0.05ed1c","type":"debug","z":"81f1f754.74bf88","name":"","active":true,"console":false,"complete":false,"x":566,"y":237,"wires":[]},{"id":"86749c44.b8b27","type":"inject","z":"81f1f754.74bf88","name":"","topic":"a","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":167.48178100585938,"y":150.4770965576172,"wires":[["562e5a82.aa8d14"]]},{"id":"200bcd83.5ac822","type":"function","z":"81f1f754.74bf88","name":"","func":"context.global.j = 1;//return msg;","outputs":1,"noerr":0,"x":574,"y":120,"wires":[[]]},{"id":"5f84b917.bf6bc8","type":"inject","z":"81f1f754.74bf88","name":"","topic":"b","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":166,"y":235,"wires":[["562e5a82.aa8d14"]]},{"id":"1f9a4f30.53e3e1","type":"inject","z":"81f1f754.74bf88","name":"","topic":"b","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":160,"y":285,"wires":[["562e5a82.aa8d14"]]}]
